[submodule "wa_webserver"]
	path = wa_webserver
	url = https://github.com/nickhoess/wa_webserver
[submodule "muehle-wa"]
	path = muehle-wa
	url = https://github.com/nickhoess/muehle-wa
[submodule "muhle_vue_wa"]
	path = muhle_vue_wa
	url = https://github.com/JulianBihlDev/Muehle_Vue_Webapp
